/** line **/

.line-divider {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}

/*** hero image ***/

#hero-image {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 23px;
}

@media screen and (min-width: 900px) {
  /*** hero image ***/
  #hero-image {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 23px;
  }
}

/*** about me ***/

#aboutme-frontpage {
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
}

.frontpage-h1 {
  font-family: "Playfair Display", serif;
  font-size: 400%;
  margin-top: 40px;
  color: #ae030e;
}

.frontpage-p {
  font-size: 130%;
  line-height: 150%;
  color: #ae030e;
  font-family: "Nunito Sans", serif;
  font-weight: 100;
}

.me-pic {
  margin-top: 20px;
  transition: transform 0.3s ease;
}

.me-pic:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
}

@media screen and (min-width: 600px) {
  /*** about me ***/

  #aboutme-frontpage {
    margin-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
  }

  .me-pic {
    padding-top: 40px;
    width: 120%;
    padding-right: 20px;
  }

  .frontpage-h1 {
    font-family: "Playfair Display", serif;
    font-size: 300%;
    margin-top: 0px;
    color: #ae030e;
  }

  .frontpage-p {
    font-size: 120%;
    line-height: 150%;
    color: #ae030e;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
    margin-top: 30px;
    margin-right: 60px;
  }
}

@media screen and (min-width: 900px) {
  .me-pic {
    padding-top: 40px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .frontpage-h1 {
    font-family: "Playfair Display", serif;
    font-size: 400%;
    margin-top: 0px;
    color: #ae030e;
  }

  .frontpage-p {
    font-size: 160%;
    line-height: 150%;
    color: #ae030e;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
    margin-top: 30px;
    margin-inline-end: 140px;
  }

  .me-pic {
    padding-top: 20px;
    width: 100%;
  }
}

/*** button ***/

.button {
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  color: #ae030e;
  border: 2px solid #ae030e;
  border-radius: 30px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: #ae030e;
  color: #fefdee;
}

.custom-button1 {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  color: #ae030e;
  border: 2px solid #ae030e;
  border-radius: 30px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button1:hover {
  background-color: #ae030e;
  color: #fefdee;
}

.custom-button-large {
  display: inline-block;
  padding: 10px 40px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 35px;
  color: #ae030e;
  border: 2px solid #ae030e;
  border-radius: 50px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button-large:hover {
  background-color: #ae030e;
  color: #fefdee;
}

@media screen and (min-width: 600px) {
  .custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 30px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button:hover {
    background-color: #ae030e;
    color: #fefdee;
  }
}

@media screen and (min-width: 1200px) {
  /** button **/

  .button {
    margin-top: 27px;
    margin-bottom: 20px;
  }

  .custom-button {
    display: inline-block;
    padding: 10px 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 33px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 60px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button:hover {
    background-color: #ae030e;
    color: #fefdee;
  }

  .custom-button1 {
    display: inline-block;
    padding: 10px 30px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 50px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button1:hover {
    background-color: #ae030e;
    color: #fefdee;
  }

  .custom-button-large {
    display: inline-block;
    padding: 10px 60px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 40px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 60px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button-large:hover {
    background-color: #ae030e;
    color: #fefdee;
  }
}

/*** projects front page ***/

.projects-txt {
  font-family: "Playfair Display", serif;
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ae030e;
  text-align: center;
}

.web-cover-pic {
  width: 40%;
  height: 40%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.projects-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-div-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-divider-small {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projects-h1 {
  font-family: "Playfair Display", serif;
  font-size: 200%;
  color: #ae030e;
  text-align: center;
}

.button-project {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button-project-see-all {
  margin-top: 60px;
  margin-bottom: 40px;
}

.topic-pics {
  transition: transform 0.3s ease;
}

.topic-pics:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
}

@media screen and (min-width: 900px) {
  /** projects **/

  .projects-txt {
    font-family: "Playfair Display", serif;
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ae030e;
    text-align: center;
  }

  .projects-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-div-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .web-cover-pic {
    width: 27%;
    height: 27%;
  }

  .line-divider-small {
    border: none;
    height: 1px;
    background-color: #b0ae33;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .projects-h1 {
    font-family: "Playfair Display", serif;
    font-size: 270%;
    color: #ae030e;
    text-align: center;
  }

  .project-title {
    margin-top: 50px;
    padding-left: 85px;
  }

  .project-title-reverse {
    margin-top: 50px;
    padding-right: 85px;
  }

  .button-project {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

/** see all works button **/

.button-project-see-all {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 900px) {
  .button-project-see-all {
    display: flex;
    justify-content: center;
  }
}

/*** footer ***/

.footer {
  text-align: center;
  padding: 50px;
  background-color: #fefdee;
  color: #ae030e;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  width: 80%;
  margin: 0 auto 40px;
}

.footer-icons {
  margin: 10px 0;
}

.icon-link {
  margin: 0 10px;
  color: #ae030e;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s; /** smooth hover **/
}

.icon-link:hover {
  color: #b0ae33;
  transform: scale(1.2); /** slightly enlarges hover **/
}
