/**** RESET ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 1200px;
}

/***** colours and fonts 

red - #AE030E
neon yellow -  #F9F93E
green - #B0AE33
beige - #F5EBD4
off white - #FEFDEE


Large font family: 

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.nunito-sans-<uniquifier> {
  font-family: "Nunito Sans", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


*****/

/*** body ***/

body {
  background-color: #fefdee;
  max-width: 1200px;
}

@media screen and (min-width: 700px) {
  body {
    background-color: #fefdee;
    margin-left: 120px;
    margin-right: 120px;
  }
}

/*** main ***/
.line-divider {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  /*   margin-left: 60px;
  margin-right: 60px; */
}

/******* logo header *******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  /*  position: sticky; */
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  background-color: #fefdee;
  z-index: 1000;
}

.logo img {
  width: 92px;
  height: 92px;
  margin-left: 60px;
  margin-bottom: -12px;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  color: #ae030e;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
  font-family: "Playfair Display", serif; /*  need to change font */
  text-transform: uppercase;
  font-weight: 800;
  padding-top: 43px;
  padding-left: 20px;
  padding-right: 20px;
}

.menu a:hover {
  color: #b0ae33;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ae030e;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: #ae030e;
  padding-bottom: 5px;
  position: relative;
}

.nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 60px;
  background-color: #f9f93e;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #fefdee;
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding-bottom: 20px;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
    margin-right: 140px;
  }
  .nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #ae030e;
    padding-bottom: 5px;
    position: relative;
    display: inline;
  }

  .nav-link.active::after {
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    border-radius: 60px;
    background-color: #f9f93e;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .logo img {
    width: 70px;
    height: 70px;
    margin-left: 60px;
  }
}

@media screen and (max-width: 700px) {
  nav.active .menu a {
    font-size: 24px;
    margin-right: 0px;
  }
}

/*** footer ***/

.footer {
  text-align: center;
  background-color: #fefdee;
  color: #ae030e;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  width: 96%; /** line divider width **/
  margin: 0 auto 40px;
}

.footer-icons {
  margin: 10px 0;
}

.icon-link {
  margin: 0 10px;
  color: #ae030e;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s; /** smooth hover **/
}

.icon-link:hover {
  color: #b0ae33;
  transform: scale(1.2); /** slightly enlarges hover **/
}

.footer-text {
  font-size: 12px;
  color: #ae030e;
  margin-top: 10px;
  font-family: "Nunito Sans", serif;
  font-weight: 100;
}

/** footer text **/

.footer-text {
  font-size: 11px;
  color: #ae030e;
  margin-top: 42px;
  font-family: "Nunito Sans", serif;
  font-weight: 100;
}

@media screen and (min-width: 900px) {
  .footer-text {
    font-size: 12px;
    color: #ae030e;
    margin-top: 42px;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
  }
}

@media screen and (min-width: 1200px) {
  .footer-text {
    font-size: 15px;
    color: #ae030e;
    margin-top: 30px;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
  }

  .footer-divider {
    border: none;
    height: 1px;
    background-color: #b0ae33;
    width: 78%; /** line divider width **/
    margin: 0 auto 40px;
  }
}

/** footer button **/

.custom-button-bottom {
  display: initial;
  padding: 21px 13px;
  font-family: "Nunito Sans", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 9px;
  color: #ae030e;
  border: 1px solid #ae030e;
  border-radius: 81px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button-bottom:hover {
  background-color: #ae030e;
  color: #fefdee;
}

.button-project-bottom {
  margin-left: 230px;
  margin-top: -30px;
}

@media screen and (min-width: 600px) {
  .custom-button-bottom {
    display: initial;
    padding: 25px 14px;
    font-family: "Nunito Sans", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 14px;
    color: #ae030e;
    border: 1px solid #ae030e;
    border-radius: 81px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button-bottom:hover {
    background-color: #ae030e;
    color: #fefdee;
  }

  .button-project-bottom {
    margin-left: 267px;
    margin-top: -34px;
  }
}

@media screen and (min-width: 1200px) {
  .custom-button-bottom {
    display: initial;
    padding: 31px 14px;
    font-family: "Nunito Sans", serif;
    font-style: italic;
    font-weight: 100;
    font-size: 22px;
    color: #ae030e;
    border: 1px solid #ae030e;
    border-radius: 81px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button-bottom:hover {
    background-color: #ae030e;
    color: #fefdee;
  }

  .button-project-bottom {
    margin-left: 500px;
    margin-top: -14px;
  }
}

/** next page box **/

.text-and-nextbutton {
  padding-left: 80px;
  padding-right: 80px;
}

.line-divider-nextpage {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
  border: none;
  height: 1px;
  background-color: #b0ae33;
}

.text-and-nextbutton {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 40px;
}

.h2-nextbutton {
  font-size: 114%;
  line-height: 150%;
  color: #ae030e;
  font-family: "Nunito Sans", serif;
  font-weight: 100;
  margin-top: 10px;
  grid-column: 1/2;
  margin-top: 25%;
}

.arrow {
  width: 80px;
  height: 1px;
  background-color: #ae030e;
  position: relative;
  display: inline-block;
  margin-top: 45px;
  grid-column: 2/3;
}

.arrow::after,
.arrow::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #ae030e;
  transform-origin: right;
}

.arrow::before {
  transform: rotate(45deg);
  top: 0px;
  right: -1px;
  height: 1px;
}

.arrow::after {
  transform: rotate(-45deg);
  top: -1px;
  right: -1px;
  height: 1px;
}

.button-next {
  margin-top: 25%;
}

.custom-button-next {
  display: inline-block;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 15px;
  color: #ae030e;
  border: 1px solid #ae030e;
  border-radius: 30px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}

.custom-button-next:hover {
  background-color: #ae030e;
  color: #fefdee;
}

@media screen and (min-width: 600px) {
  .line-divider-nextpage {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: #b0ae33;
  }

  .h2-nextbutton {
    font-size: 114%;
    line-height: 150%;
    color: #ae030e;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
    margin-top: 10px;
    grid-column: 1/2;
    margin-top: 16%;
  }

  .button-next {
    margin-top: 25%;
  }

  .text-and-nextbutton {
    padding-left: 80px;
    padding-right: 80px;
  }

  .text-and-nextbutton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
    margin-left: 20px;
  }

  .custom-button-next {
    display: inline-block;
    padding: 10px 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #ae030e;
    border: 1px solid #ae030e;
    border-radius: 30px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
  }

  .custom-button-next:hover {
    background-color: #ae030e;
    color: #fefdee;
  }

  .button-next {
    margin-top: 10%;
  }

  .arrow {
    width: 100px;
    height: 1px;
    background-color: #ae030e;
    position: relative;
    display: inline-block;
    margin-top: 45px;
    grid-column: 2/3;
  }

  .arrow::after,
  .arrow::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #ae030e;
    transform-origin: right;
  }

  .arrow::before {
    transform: rotate(45deg);
    top: 0px;
    right: -1px;
    height: 1px;
  }

  .arrow::after {
    transform: rotate(-45deg);
    top: -1px;
    right: -1px;
    height: 1px;
  }
}

@media screen and (min-width: 1200px) {
  .line-divider-nextpage {
    margin-left: 62px;
    margin-right: 62px;
    margin-top: 10px;
    border: none;
    height: 1px;
    background-color: #b0ae33;
  }

  .arrow {
    width: 128px;
    height: 1px;
    background-color: #ae030e;
    position: relative;
    display: inline-block;
    margin-top: 40px;
  }

  .arrow::after,
  .arrow::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: #ae030e;
    transform-origin: right;
  }

  .arrow::before {
    transform: rotate(45deg);
    top: 0px;
    right: -1px;
    height: 1px;
  }

  .arrow::after {
    transform: rotate(-45deg);
    top: -1px;
    right: -1px;
    height: 1px;
  }

  .custom-button-next {
    display: inline-block;
    padding: 10px 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 20px;
    color: #ae030e;
    border: 1px solid #ae030e;
    border-radius: 30px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
  }

  .custom-button-next:hover {
    background-color: #ae030e;
    color: #fefdee;
  }

  .button-next {
    margin-top: 8%;
  }

  .text-and-nextbutton {
    padding-left: 80px;
    padding-right: 80px;
  }

  .text-and-nextbutton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    gap: 40px;
    margin-left: 80px;
  }

  .h2-nextbutton {
    font-size: 114%;
    line-height: 150%;
    color: #ae030e;
    font-family: "Nunito Sans", serif;
    font-weight: 100;
    margin-top: 10px;
    grid-column: 1/2;
    margin-top: 13%;
  }

  .next-page-box {
    margin-left: 110px;
    margin-right: 110px;
  }
}

/** hover pics **/

.topic-pics {
  transition: transform 0.3s ease;
}

.topic-pics:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
}
