/** line **/

.line-divider {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}

/** buttons **/

.custom-button1 {
  display: inline-block;
  padding: 10px 30px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 30px;
  color: #ae030e;
  border: 2px solid #ae030e;
  border-radius: 30px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button1:hover {
  background-color: #ae030e;
  color: #fefdee;
}

@media screen and (min-width: 700px) {
  .custom-button1 {
    display: inline-block;
    padding: 10px 40px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 35px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 50px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

@media screen and (min-width: 900px) {
  .custom-button1 {
    display: inline-block;
    padding: 6px 45px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 50px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

@media screen and (min-width: 1200px) {
  .custom-button1 {
    display: inline-block;
    padding: 10px 30px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 50px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

/*** projects front page ***/

.projects-all-div {
  margin-left: 120px;
  margin-right: 120px;
}

.projects-txt {
  font-family: "Playfair Display", serif;
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ae030e;
  text-align: center;
}

.web-cover-pic {
  width: 90%;
  height: 90%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.projects-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-div-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-divider-small {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projects-h1 {
  font-family: "Playfair Display", serif;
  font-size: 160%;
  color: #ae030e;
  text-align: center;
}

.button-project {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button-project-see-all {
  margin-top: 60px;
  margin-bottom: 40px;
}

@media screen and (min-width: 700px) {
  .web-cover-pic {
    width: 70%;
    height: 70%;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 900px) {
  /** projects **/

  .projects-txt {
    font-family: "Playfair Display", serif;
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ae030e;
    text-align: center;
  }

  .projects-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-div-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .web-cover-pic {
    width: 100%;
    height: 100%;
  }

  .line-divider-small {
    border: none;
    height: 1px;
    background-color: #b0ae33;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .projects-h1 {
    font-family: "Playfair Display", serif;
    font-size: 170%;
    color: #ae030e;
    text-align: center;
  }

  .project-title {
    margin-top: 50px;
    padding-left: 85px;
  }

  .project-title-reverse {
    margin-top: 50px;
    padding-right: 85px;
  }

  .button-project {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1000px) {
  .web-cover-pic {
    width: 40%;
    height: 40%;
  }
}

@media screen and (min-width: 1200px) {
  /** projects **/

  .projects-txt {
    font-family: "Playfair Display", serif;
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ae030e;
    text-align: center;
  }

  .web-cover-pic {
    width: 27%;
    height: 27%;
  }

  .line-divider-small {
    border: none;
    height: 1px;
    background-color: #b0ae33;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .projects-h1 {
    font-family: "Playfair Display", serif;
    font-size: 270%;
    color: #ae030e;
    text-align: center;
  }

  .project-title {
    margin-top: 50px;
    padding-left: 85px;
  }

  .project-title-reverse {
    margin-top: 50px;
    padding-right: 85px;
  }
}

/** pic hover **/

.topic-pics {
  transition: transform 0.3s ease;
}

.topic-pics:hover {
  transform: scale(1.1); /* Slightly enlarge the image */
}
