/** line **/

.line-divider {
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 10px;
}

/** buttons **/

.custom-button1 {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 20px;
  color: #ae030e;
  border: 2px solid #ae030e;
  border-radius: 30px;
  background-color: #fefdee;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button1:hover {
  background-color: #ae030e;
  color: #fefdee;
}

@media screen and (min-width: 1200px) {
  .custom-button1 {
    display: inline-block;
    padding: 10px 30px;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 30px;
    color: #ae030e;
    border: 2px solid #ae030e;
    border-radius: 50px;
    background-color: #fefdee;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .custom-button1:hover {
    background-color: #ae030e;
    color: #fefdee;
  }
}

/*** projects front page ***/

.projects-txt {
  font-family: "Playfair Display", serif;
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ae030e;
  text-align: center;
}

.web-cover-pic {
  width: 40%;
  height: 40%;
  margin-top: 60px;
  margin-bottom: 30px;
}

.projects-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-div-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line-divider-small {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.projects-h1 {
  font-family: "Playfair Display", serif;
  font-size: 200%;
  color: #ae030e;
  text-align: center;
}

.button-project {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.button-project-see-all {
  margin-top: 60px;
  margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  /** projects **/

  .projects-txt {
    font-family: "Playfair Display", serif;
    font-size: 400%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ae030e;
    text-align: center;
  }

  .projects-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .projects-div-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  .web-cover-pic {
    width: 27%;
    height: 27%;
  }

  .line-divider-small {
    border: none;
    height: 1px;
    background-color: #b0ae33;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .projects-h1 {
    font-family: "Playfair Display", serif;
    font-size: 270%;
    color: #ae030e;
    text-align: center;
  }

  .project-title {
    margin-top: 50px;
    padding-left: 85px;
  }

  .project-title-reverse {
    margin-top: 50px;
    padding-right: 85px;
  }

  .button-project {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

/*** footer ***/

.footer {
  text-align: center;
  padding: 50px;
  background-color: #fefdee;
  color: #ae030e;
}

.footer-divider {
  border: none;
  height: 1px;
  background-color: #b0ae33;
  width: 80%;
  margin: 0 auto 40px;
}

.footer-icons {
  margin: 10px 0;
}

.icon-link {
  margin: 0 10px;
  color: #ae030e;
  font-size: 24px;
  text-decoration: none;
  transition: transform 0.3s, color 0.3s; /** smooth hover **/
}

.icon-link:hover {
  color: #b0ae33;
  transform: scale(1.2); /** slightly enlarges hover **/
}

.footer-text {
  font-size: 12px;
  color: #ae030e;
  margin-top: 10px;
  font-family: "Nunito Sans", serif;
  font-weight: 100;
}
